<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <form action="/blog" method="POST">
      <textarea>
         <% name="content"
         rows="15"
         cols="50" %></textarea>
      <br>
      <input type="submit">
    </form>
  </body>
</html>