<!doctype html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
  	<h1>Welcome To My Awesome Blog App</h1>
  	<h3>Where everything is just awesome</h3>
	 	<a href="/signup">Do you want create a account?</a>
	 	<a href ="/login"> Already have an account?</a>
 	</body>
</html>